<%- include ../partials/header %>
	<title>
		<%= design.name %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="3D & 2D Home Design, 3D & 2D Office Design, 3D & 2D Landscape Design">
	<meta name="description" content="Edit <%= design.name %>">
	<%- include ../partials/headers2 %>
		<%- include ../partials/headers3 %>
			<%- include ../partials/flash %>
				<div class="container mx-auto mt-3" style="width:50%" style="align-content:space-between">
					<h3>Edit <%=design.name%>
					</h3>
					<form action="/building-design/<%= design._id %>?_method=PUT" method="post">
						<div class="form-group">
							<input class="form-control" type="text" name=des[name] id="enter_image_url"
								value='<%=design.name%>'>
						</div>
						<!-- 			<div class="form-group">
				<input class="form-control" type="text" name="des[image]" value="<%=design.image%>">
			</div> -->
						<div class="form-group">
							<label class="form-control-label" for="image_url">Image</label>
							<input class="form-control" type="file" name="des[image]" value="<%=design.image%>"
								id="image_url">
						</div>
						<div class="form-group">
							<button class="btn btn-outline-primary">Submit</button>

						</div>
					</form>
				</div>
				</div>
				<nav class="footer">
					Contact Us :oluleyepeters@gmail.com
				</nav>
				</div>
				<script src="/javascript/jquery-3.3.1.min.js"></script>
				<script src="/javascript/bootstrap.js"></script>
				<script src="/javascript/building.js"></script>
				</body>

				</html>
				<div class="modal" aria-hidden='true' aria-labelledby='exa' role='dialog' id='modalexa'>
					<div class="modal-dialog modal-dialog-centered" role='document'>
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="text-left">Login</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="/login" method="POST">
								<div class="container">
									<div class="form-group">
										<label for="modemail">Email</label>
										<br>
										<input type="text" class="form-control" name="email" placeholder="Email"
											id="modemail">
									</div>
									<div class="form-group">
										<label for="modpword">Password</label>
										<br>
										<input type="password" class="form-control" name="password"
											placeholder="password" id="modpword">
									</div>
									<div class="form-group">
										<button class="btn btn-sm btn-primary btn-block" id="modbutton"
											type="submit">Login</button>
										<p class="text-right text-sm mb-2"><a href="/forgotpassword">Forgot
												Password?</a></p>
									</div>
									<div>
										<p class="text-center">Dont have an account yet? <a href="/register">Sign Up</a>
										</p>
									</div>
							</form>
						</div>
					</div>
				</div>
				</div>