<%- include ../partials/header %>
	<title>2D and 3D Designs: Home. Landscape, Offices etc</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="3D & 2D Home Design, 3D & 2D Office Design, 3D & 2D Landscape Design">
	<meta name="description"
		content="Checkout all our 2D and 3D designs. Ranging from Home designs to Landscape to Offices and Shopping Complexes and make the bold decision to contact us">
	<%- include ../partials/headers2 %>
		<%- include ../partials/headers3 %>
			<%- include ../partials/flash %>
				<div class="container mt-3 mb-3">
					<div class="mx-auto">
						<div class="row mx-auto">
							<div class="col-lg-3 col-md-2">

							</div>
							<div class="col-lg-4 col-md-6">
								<img class="img-thumbnail d-inline-block mx-auto" src="<%=design.image%>">
							</div>
							<div class="col-lg-2 col-md-2">
								<h4 class="mb-3">
									<%=design.name%>
								</h4>
								<p>
									<%=design.author.username%>
								</p>
								<%if(currentUser && design.author.id.equals(currentUser._id)){%>
									<div>
										<a href="/building-design/<%=design._id %>/edit"
											class="text-white btn btn-primary btn-sm" role="button"> Edit Campground</a>
										<form class="d-inline" action="/building-design/<%=design._id%>?_method=DELETE"
											method='POST'>
											<button class="btn btn-danger btn-sm">Delete</button>
										</form>
									</div>
									<% } %>
							</div>
							<div class="col-lg-3 col-md-2">

							</div>
						</div>
						<br>
						<a href="/building-design/<%=design._id %>/comments/new"
							class="text-white btn btn-primary btn-sm" role="button">+ Comment</a>
						<br>
						<% design.comments.forEach(function(descom){%>

							<div class="container mt-3">
								<p><span><strong>
											<%=descom.author.username%>
										</strong></span>: <%=descom.text%>
								</p>
								<% if (currentUser && currentUser.username===descom.author.username){%>
									<div>
										<button class="btn btn-sm btn-primary" role="button">
											<a href="/building-design/<%=design._id%>/comments/<%=descom._id%>/edit"
												class="text-white">Edit</a>
										</button>
										<form class="d-inline"
											action="/building-design/<%=design._id %>/comments/<%=descom._id%>?_method=DELETE"
											method='POST'>
											<button class="btn btn-danger btn-sm">Delete</button>
										</form>
									</div>
									<% } %>
							</div>
							<%})%>
								<br>
					</div>
				</div>
				</div>
				<nav class="footer">
					Contact Us :oluleyepeters@gmail.com
				</nav>
				</div>
				<script src="/javascript/jquery-3.3.1.min.js"></script>
				<script src="/javascript/bootstrap.js"></script>
				<script src="/javascript/building.js"></script>
				<script src="/javascript/alert.js"></script>
				</body>

				</html>
				<div class="modal" aria-hidden='true' aria-labelledby='exa' role='dialog' id='modalexa'>
					<div class="modal-dialog modal-dialog-centered" role='document'>
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="text-left">Login</h4>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form action="/login" method="POST">
								<div class="container">
									<div class="form-group">
										<label for="modemail">Email</label>
										<br>
										<input type="text" class="form-control" name="email" placeholder="Email"
											id="modemail">
									</div>
									<div class="form-group">
										<label for="modpword">Password</label>
										<br>
										<input type="password" class="form-control" name="password"
											placeholder="password" id="modpword">
									</div>
									<div class="form-group">
										<button class="btn btn-sm btn-primary btn-block" id="modbutton"
											type="submit">Login</button>
										<p class="text-center text-sm mb-2"><a href="/forgotpassword">Forgot
												Password?</a></p>
									</div>
									<div>
										<p class="text-center">Dont have an account yet? <a href="/register">Sign Up</a>
										</p>
									</div>
							</form>
						</div>
					</div>
				</div>
				</div>